# The Python Programming Language : Basics

### Variables and data types

In [1]:
x = 5         # int
y = 0.5       # float
z = 'Hello'   # Strings
q = True      # Bool

print( 'Int: ' , x , end=' ')
print( 'Float: ' , y )
print( 'String: ' , z )
print( 'Bool: ' , q )

Int:  5 Float:  0.5
String:  Hello
Bool:  True
2

In [6]:
print("ssss",2,3,4,5,6,sep="\n")

ssss
2
3
4
5
6

In [13]:
# " " vs ' '
a = "Ahmed's book"
a

"Ahmed's book"

### Operators

In [16]:
## Math. operators (+ , - , * , / , %)

x = 10

y = 3

print('10 / 2 = ' , x / y )

print('10 power 2 = ' , x**2 ) # 10 power of 2 

print('10 mod 2 = ', x % y ) 


## Comparing operators (== , > ,< ,<= , >= , !=)

x = 5

y = x == 5

print( 'Is x equal to y ? :' , y )

## Logical operators

#x = x + 5 == x += 5 

y = True

z = False

w = y and z

r = y or z 

print('True and False = ' , w )
print('True or False = ', r )

10 / 2 =  3.3333333333333335
10 power 2 =  100
10 mod 2 =  1
Is x equal to y ? : True
True and False =  False
True or False =  True

### Containers

In [20]:

# LIST

##(1)
a = [1,2,3,4,5,6,'a',True]

# update item
a[2] = 0
##(2)

# add item
a.append(3)
##(3)

# remove item

##(4)

a.remove(1)

#lenght of th`e list
len(a)

8

In [25]:
a[2]

4

In [23]:
#TUPLE
b = (2,3,4)
b

(2, 3, 4)

In [29]:
# DICTIONARY

dic = {'a':[1,32,3],'b':True,'c':3}
#Adding new values
dic['d'] = 5

# Updating values
dic['a'] = 2

In [31]:
# SET
# Unique items 
# Sorted

mySet = set([1,1,1,1,1,1,5,2])

{1, 2, 5}

### Important Notes

In [33]:
# Converting strings to lists
x = "Yehia"
list(x) #type casting

['Y', 'e', 'h', 'i', 'a']

In [35]:
# Operations on strings (* , +)
x + "2"

'Yehia2'

In [38]:
# Why ?
x = '5 + 9 = '
y = 5 + 9

print( x + str(y) )

5 + 9 = 14

In [ ]:
## Type casting (converting)

In [40]:
# Operations on Lists
a = [1,2,'a']
b = [3,4,'b']

a + b

[1, 2, 'a', 3, 4, 'b']

In [ ]:
#Checking on items in lists

## If statment :
### if < bool > :

In [59]:
x = 6
# 


if x <= 1 or x >= 5:
    print(2)

2

## Loops:

In [78]:
x = [1,2,3,4,5]

index = 0
# While
while index < len(x):
    print(x[index]+1,end='')
    index = index + 1

print('\n-------------------------')
# For
newList =[]
for index in range(0,len(x),2):
    print(x[index])
    

print('-------------------------')
##(4)

dic = {'a':[1,32,3],'b':True,'c':3}
for key in dic.keys():
    print(dic[key])

23456
-------------------------
1
3
5
-------------------------
[1, 32, 3]
True
3

## Functions

In [90]:
#Normal Functions
def calculations(x=2,y=1): 
    output = 0
    if (x+y) % 2 == 0:
        output = x+y
    return output

calculations(2,2)

4

In [88]:
#Lambda Functions
add = lambda x,y: x+y

add(1,2)

3

### Ternary Operator

In [93]:
# (return value1) if condition else (return value2)
x=2
y=2

4

In [96]:
# x+y -> even ? (x+y%2 == 0) -> true:even

add = lambda x,y: x+y if (x+y)%2 == 0 else 0

add(2,2)

4

### List Comprehension

In [105]:
# [(return item) (outer loop) (inner loop) (inner condition)]

a = [[1,2],[3,4],[5,6]]
# Normal loop

for array in a: #outer loop
    for item in array: # inner loop
        if item%2 == 0: #inner condition
            print(item)
        
b = [1,2,3]

[item if (item)%2 == 0 else 0 for array in a for item in array]

2
4
6

[0, 2, 0, 4, 0, 6]

### Lambda and maps

In [7]:
#Normal Function and lambdas

a = [1,2,3,4]


output = map(lambda x: x if x%2 == 0 else 0 ,a)

list(output)

[0, 2, 0, 4]

## Classes

In [118]:
class person:
    #Variables (members)
    name="moaaz"
    age=-1
    
    #Functions (methods)
    def __init__(self,name,age):
        self.name = name
        self.age = age
    def getName(self):
        return self.name

In [120]:
x = person("Ahmed",19)
x.getName()

y = person('Asmaa',20)
y.getName()
y.name = "Asmaa"

'Asmaa'

### Importing

In [123]:
import numpy as np #math operations

np.power(2,3)

8