In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_excel('students_gpa.xlsx')
data

        Name  Gender  Year Biology Algebra Arabic History Mechanics
0   Ahmed M.    Male     1       A       B      A       D         A
1   Ahmed T.    Male     1       C       C      D       C         D
2   Malak H.  Female     2       B       C      A       A         A
3    Hoda M.  Female     1       F       B      A       B         B
4  Yasser B.    Male     3       D       C      B       B         C
5   Moaaz Z.    Male     2       C       A      C       C         B
6   Yehia S.    Male     1       A       D      C       B         B
7   Hanan K.  Female     1       B       A      B       A         C
8     Mai F.  Female     2       B       A      C       D         D

2.1) import the students_gpa data set and print all the students' Grades using iloc and loc

In [ ]:
#write 2.1 here

2.2) Calculate the Average of all students total GPA and append it in a new column (Consider that all Courses has the same Credit hours) Using Grades_dictionary Values. Single student GPA = Sum of their grades/Number of courses 
### (You can loop over the columns only. Any arithmatic operation you do must be done with numpy)

hint: Use pandas.apply(lambda x: function) and create a function to translate the symbols into numbers

In [ ]:
#write 2.2 here